@font-face {
  font-family: 'Bahnschrift';
  src: url('BAHNSCHRIFT 1.TTF') format('truetype');
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('BAHNSCHRIFT 2.TTF') format('truetype');
}
@font-face {
  font-family: 'Bahnschrift';
  src: url('BAHNSCHRIFT 3.TTF') format('truetype');
}
@font-face {
  font-family: 'Bahnschrift';
  src: url('BAHNSCHRIFT 4.TTF') format('truetype');
}
@font-face {
  font-family: 'Bahnschrift';
  src: url('BAHNSCHRIFT 5.TTF') format('truetype');
}
@font-face {
  font-family: 'Bahnschrift';
  src: url('BAHNSCHRIFT 6.TTF') format('truetype');
}
@font-face {
  font-family: 'Bahnschrift';
  src: url('BAHNSCHRIFT 6.TTF') format('truetype');
}
@font-face {
  font-family: 'Bahnschrift';
  src: url('BAHNSCHRIFT 7.TTF') format('truetype');
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('BAHNSCHRIFT 8.TTF') format('truetype');
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('BAHNSCHRIFT 9.TTF') format('truetype');
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('BAHNSCHRIFT 10.TTF') format('truetype');
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('BAHNSCHRIFT 11.TTF') format('truetype');
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('BAHNSCHRIFT 12.TTF') format('truetype');
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('BAHNSCHRIFT 13.TTF') format('truetype');
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('BAHNSCHRIFT 14.TTF') format('truetype');
}
@font-face {
  font-family: 'Bahnschrift';
  src: url('BAHNSCHRIFT.TTF') format('truetype');
}
